<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
        <!-- seconds -->
        <setting name="defaultStatementTimeout" value="10"/>
    </settings>
<plugins>
    <plugin interceptor="org.mybatis.paginator.OffsetLimitInterceptor">
        <property name="dialectClass" value="org.mybatis.paginator.dialect.MySQLDialect" />
        <property name="asyncTotalCount" value="true" />
    </plugin>
</plugins>
</configuration>